<div style="display:none;"><script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
    try {
        w.yaCounter{{ keycode.keycode }} = new Ya.Metrika({{ keycode.keycode }});
         yaCounter{{ keycode.keycode }}.clickmap(true);
         yaCounter{{ keycode.keycode }}.trackLinks(true);

    } catch(e) {}
    });
})(window, 'yandex_metrika_callbacks');
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div style="position:absolute"><img src="//mc.yandex.ru/watch/{{ keycode.keycode }}" alt="" /></div></noscript>